.cover__link{
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  min-height: 740px;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #2A2C2F;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: 1;
  transition: opacity 300ms ease-in-out;
  width: 100%;
  height: 100%;
}

.cover__link:hover::before {
  opacity: 0.8;
}
@media screen and (max-width: 1280px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__link{ 
    min-height: 480px;
  }
}

@media screen and (max-width: 765px) {
  .cover__link {
    min-height: 200px;
  }
}
