.places__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  
}
.places__image:hover {
  cursor: pointer;
  box-shadow: 4px 4px 5px rgba(179, 179, 179, .4);
  transform: scale( 1.08);
  transition: transform 300ms;
}

@media screen and (max-width: 1279px) {
  .places__image {
    min-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .places__image {
    min-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .places__image {
    justify-self: center;
    min-width: 320px;
  }
}