.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  margin: 32px 0 0;
  text-align: center;
  z-index: 2;
}
@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 16px;
    max-width: 256px;
    padding: 0 16px 0 0;
    
  }
}