.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 28px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }
}