.footer__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
  
}
.footer__link:last-of-type {
  margin-right: 0;
}
.footer__link:hover {
  cursor: pointer;
  opacity: 0.8; 
}
@media screen and (max-width: 769px) {
.footer__link {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1;
  padding-right: 0;
  
}
.footer__link:last-of-type {
  margin-bottom: 0;
}
}

