.lead__caption {
  align-self: flex-start;
  max-width: 158px;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.14em;
  margin: 8px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  
}
@media screen and (max-width: 768px){
  .lead__caption {
    padding-left: 24px;
    font-size: 10px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 600px){
  .lead__caption  {
    padding-left: 16px;
  }
}