.cover__title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  max-width: 560px;
  margin: 0;
  text-align: center;
  z-index: 2;
}
@media screen and (max-width: 765px) {
  .cover__title {
    max-width: 253px;
    line-height: 1.09;
    font-size: 32px;
    
  }
}